
h3{
    margin: 0;
}
.panel-body{
    padding: 0;
}

.package-image img{
    object-fit: fill;
    width: 100%;
}

.package-image{
    padding: 0;
}

.package-descriptions{
    padding-left: 20px;
    padding-top: 10px;
}

.package-price_box{
    min-height: 163px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.list-package{
    margin-top: 5vh;
}

.list-package p{
    margin:0;
}

.package-price_box__content .price{
    font-size: 22px;
    font-weight: bold;
}

.package-price_box__content .tax-info{
    font-size: 12px;
    font-weight: lighter;
}

.package-price_box__content .package-detail{
    margin-top: 10px;
}

.cant-find{
    color: white;
    background: #F78536;
    width: 30vw;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 20vh auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.category-top{
    text-align: center;
    margin-top: 5rem;
    border-bottom: 1px solid  #F78536;
    padding-bottom: 10px;
}

.category-top__title{
    font-weight: 600;
    font-size: 32px;
    padding: 5px;
}




